/* Basic reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, sans-serif;
background: #f5f5f5;
line-height: 1.6;
}


/* Top image */
header img {
width: 100%;
height: auto;
display: block;
}


/* Navigation menu */
nav ul {
list-style: none;
display: flex;
background: #003087;
}


nav li {
margin-right: 20px;
}


nav a {
text-decoration: none;
color: white;
padding: 10px 15px;
display: block;
}


/* Main content */
main {
padding: 20px;
}


main section {
background: white;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 6px;
}


/* Footer */
footer {
text-align: center;
padding: 15px;
background: #eee;
margin-top: 20px;
}